@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
}

body {
    font-family: 'Noto Sans';
    line-height: 110%;
}

header {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 80%;
    padding-bottom: 6px;
    border-bottom:1px solid rgb(62, 62, 62);
}
header span {
    font-size: 12px;
    line-height: 70%;
}

details {
    padding-bottom: 10px;
}
summary {
    font-size: 15px;
    font-weight: 500;
}
form {
    padding: 8px 0px 5px 0px;
}
li {
    padding: 0px 0px 5px 0px;
}