@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
}

body {
    width:300px;
    font-family: 'Noto Sans';
}

header {
    padding: 8px 15px 4px 15px;
}
#header-title {
    font-weight: 500;
    font-size: 16px;
}
#header-details{
    font-size: 11px;
    font-style:italic;
}

section{
    font-size: 12px;
}

.list {
    padding: 2px 15px 2px 15px;
}
.list-title {
    font-size: 14px;
}
.list-title-img {
    width: 14px;
    height: 14px;
}

#setting {
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    border-top: 1px solid rgb(175, 175, 175);
    vertical-align: center;
}
#setting-gear-img {
    width: 14px;
    height: 14px;
}

.list-items:hover {
    background-color: rgb(200, 200, 200, 50);
}
#setting:hover {
    background-color: rgb(200, 200, 200, 50); 
}
