@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
}
body {
    width:300px;
    font-family: 'Noto Sans';
}

.img-14px {
    width: 14px;
    height: 14px;
}
.hoverable:hover{
    background-color: rgb(200, 200, 200, 50);
}

header {
    padding: 8px 15px 4px 15px;
}
#header-title {
    font-weight: 500;
    font-size: 16px;
}
#header-details{
    font-size: 11px;
    font-style:italic;
}

section{
    font-size: 12px;
}
.list {
    padding: 2px 15px 2px 15px;
}
.list-title {
    font-size: 14px;
    position: relative;
}
#list-plus-img {
    width: 20px;
    height: 20px;
    right: 0px;
    position: absolute;
}
#list-grid-container {
    display: grid;
}
.list-control {
    padding-top: 5px;
    font-size: 12px;
}
#add-bundle {
    display: none;
}
#list-items {
    font-size: 12px;
}
.deleter {
    width: 18px;
    height: 18px;
    right: 0px;
    position: absolute;
}
.deleter:hover {
    background-color: rgb(200,50,50,20);
}

#setting {
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    border-top: 1px solid rgb(175, 175, 175);
    vertical-align: center;
}